
@{
	ViewBag.Title = "Index";
}

@section Scripts{
	<script src="~/Scripts/homeIndexApp.js"></script>
}

<h2>Index</h2>

<div id="homeIndex" ng-app="homeIndexApp" ng-controller="homeIndexCtrl">

</div>




